@import './colors.css';

.Footer {
  background-color: var(--secondary-color);
  color: var(--white);
  text-align: center;
  padding: 1.5rem 0;
  width: 100%;
  box-shadow: 0 -4px 15px var(--shadow-medium);
  border-top: 2px solid var(--primary-color);
  margin-top: auto; /* This pushes the footer to the bottom */
}

.Footer a {
  color: var(--primary-light);
  text-decoration: none;
  transition: color 0.2s ease;
}

.Footer a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}